<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <title>Add Plan</title>

</head>
<body>
    <div class="wrapper">
        <div class="title-block">
            <h1 class="title">Add Plan</h1>
            <a href="/" class="common-btn" style="background-color: pink;">Back to plans list</a>
        </div>
        <form class="" action="/trip" method="POST">
            <div class="">
                <label for="description" class="">Plan</label>
                <input class="" type="text" name="description" id="description">
            </div>
            <div class="">
                <label for="hotel" class="">Hotel</label>
                <input class="" type="text" name="hotel" id="hotel">
            </div>
            <div class="">
                <label for="transport" class="">Transport</label>
                <input class="" type="text" name="transport" id="transport">
            </div>
            <div class="">
                <label for="date" class="">Date</label>
                <input class="" type="date" name="date" id="date">
            </div>
            <div class="">
                <button class="common-btn" style="background-color: lightgreen;" type="submit" class="">Add</button>
            </div>
        </form>
    </div>
</body>
</html>
